<div class="container-fluid">
    
        <app-quote-form class="col-md-4" (addQuote)="addNewQuote($event)"></app-quote-form>
        
            <blockquote class="blockquote blockquote-custom p-5 shadow rounded" *ngFor="let quote of quotes, let i = index">
                <div class="blockquote-custom-icon shadow-sm"><i class="fa fa-quote-left text-white"></i></div>
                <p class="mb-0 mt-2 font-italic">"{{ quote.text }}."</p>
                <footer class="blockquote-footer pt-4 mt-4 border-top">Quote by
                    <cite title="quote author">{{ quote.author }}</cite>
                    <br>
                    <cite title="quote date">{{ quote.date | date }}</cite>
                </footer>
            </blockquote>
            <app-votes></app-votes>
</div>